---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import CardInfo from "../components/CardInfo.astro";
import CardAreas from "../components/CardAreas.astro";
import Footer from "../components/Footer.astro";
import logo from "../img/LogoVG.png";
// import crayola from "../img/avatarCrayola.png";
import uagroLogo from "../img/uagroLogo.png";
import aguilaLogo from "../img/AguilaLogo.png";
import uagroLetras from "../img/uagroLetras.png";
import areas from "../img/areas.jpg";
import prueba from "../img/pruebaVg.jpg";
import { areasEstudio } from "../consts/areas";
import Politica from "../icons/Politica.astro";
import Artes from "../icons/Artes.astro";
import Salud from "../icons/Salud.astro";
import Matematicas from "../icons/Matematicas.astro";
---

<Layout title="Vocación Enigma.">
  <main>
    <div class="contenedor-prin">
      <h1 id="titulo">
        Con <span class="cuadro">Vocación Enigma</span> toma <br />una sobre tu
        futuro.
      </h1>
      <section id="contenido">
        <div id="content-info">
          <p id="text-info">
            Explora tus posibilidades profesionales y descubre tu camino hacia
            el éxito con nuestra plataforma de orientación vocacional. En
            Vocación Enigma, te ofrecemos herramientas y recursos para ayudarte
            a tomar decisiones informadas sobre tu futuro profesional.
          </p>
          <Button texto="Comenzar" url="/prueba/resultados" />
        </div>
        <div id="diseño-logos">
          <Image class="vocacionLogo" src={logo} alt="Logo" />
          <!-- <Image class="crayolaAvatar" src={crayola} alt="Crayola" /> -->
          <Image class="uagroLogo" src={uagroLogo} alt="uagro" />
          <Image class="aguilaLogo" src={aguilaLogo} alt="aguila" />
        </div>
      </section>
    </div>
    <article class="contenedor-articulos">
      <div id="infromacion-uagro">
        <h2 id="title-uagro">¿Por qué la Universidad Autónoma de Guerrero?</h2>
        <p id="text-uagro">
          La Universidad Autónoma de Guerrero es nuestra elección primordial
          debido a su destacada excelencia académica, su relevancia arraigada en
          lo local y su vasta diversidad de opciones educativas. Se distingue
          por sus programas educativos de calidad sobresaliente y por ofrecer
          una amplia gama de oportunidades universitarias.
        </p>
      </div>
      <Image class="uagroLetras" src={uagroLetras} alt="uagro letras" />
    </article>
    <section class="vocacion-contenedor">
      <div id="info-vocacion">
        <h2>¿Por qué Vocación Enigma?</h2>
        <p id="vocacion-text">
          Vocación Enigma nace por la necesidad de brindar a los estudiantes de
          nivel medio superior de la Universidad Autónoma de Guerrero una
          herramienta integral para explorar sus intereses y tomar decisiones
          informadas sobre su educación superior.
        </p>
      </div>
      <div id="cont-card">
        <CardInfo
          titulo="Ofrecemos"
          texto="Ofrecemos pruebas de Orientación Vocacional, información sobre áreas de estudio y universidades en la Universidad Autónoma de Guerrero, y orientación para decisiones educativas sólidas."
        />
        <CardInfo
          titulo="Enfoque"
          texto="Nos apasiona empoderar a los estudiantes para que descubran sus fortalezas y encuentren una carrera inspiradora. Creemos en el poder transformador de la orientación vocacional y estamos aquí para acompañarte en cada paso."
        />
        <CardInfo
          titulo="Visión y Misión:"
          texto="En Vocación Enigma, creemos en el potencial ilimitado de cada estudiante. Nuestra misión es ayudarte a alcanzar tus metas académicas y profesionales mediante orientación personalizada y recursos integrales."
        />
        <CardInfo
          titulo="Compromiso"
          texto="Nos comprometemos a guiarte en tu camino académico y profesional, proporcionándote las herramientas necesarias para explorar intereses, descubrir fortalezas y tomar decisiones informadas sobre tu educación superior."
        />
        <CardInfo
          titulo="Apoyo"
          texto="Nuestra dedicación radica en ayudarte a encontrar la carrera que te inspire y motive, y estamos dispuestos a acompañarte en cada paso del proceso para que alcances tus metas con confianza y determinación."
        />
        <CardInfo
          titulo="Objetivo"
          texto="Nuestro objetivo es ayudar a los estudiantes a explorar intereses, descubrir fortalezas y tomar decisiones informadas sobre su educación superior, para encontrar una carrera inspiradora y alcanzar sus metas académicas y profesionales con confianza."
        />
      </div>
    </section>
    <article class="contenedor-articulos">
      <Image class="prueba" src={prueba} alt="prueba" />
      <div id="informacion-prueba">
        <h2>Nuestra Prueba.</h2>
        <p id="text-prueba">
          Esta consta de una serie de preguntas diseñadas para evaluar tus
          intereses, aptitudes y aspiraciones. Al completar la prueba, basándose
          en tus respuestas recibirás un análisis detallado de tus resultados,
          así como identificará un área de estudio que podría ser compatible
          contigo y sugerencias de las universidades del área en especifico
          dentro de la institución. Esto te ayudará a tener una mejor
          comprensión de las opciones disponibles y te orientará en tu camino
          hacia una carrera satisfactoria.
        </p>
      </div>
    </article>
    <!-- <span id="separador"></span> -->
    <div class="areas-contenedor">
      <section id="areas-info">
        <div id="informacion-areas">
          <h2>Áreas de estudio de la UAGro.</h2>
          <p id="text-area">
            En nuestra plataforma de Orientación Vocacional, te ofrecemos una
            amplia variedad de áreas de estudio que abarcan todos los campos
            académicos disponibles dentro de la Universidad Autónoma de
            Guerrero.
          </p>
        </div>
        <Image class="imgAreas" src={areas} alt="areas" />
      </section>
      <div id="cont-cardArea">
        {
          Object.values(areasEstudio).map((unis, index) => (
            <CardAreas area={unis.area} texto={unis.texto}>
              {unis.area === "Ciencias Políticas" && <Politica />}
              {unis.area === "Artes y Humanidades" && <Artes />}
              {unis.area === "Biologicas y de la Salud" && <Salud />}
              {unis.area === "Fisico-Matematicas e Ingenierias" && (
                <Matematicas />
              )}
            </CardAreas>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
<Footer />

<style>
  .contenedor-prin {
    display: grid;
    align-content: center;
    padding: 20px 120px 0;
    height: 92vh;
  }
  #titulo {
    font-size: 50px;
  }
  #contenido {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    padding: 0 35px;
    gap: 32px;
    align-items: center;
  }
  #content-info {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  #text-info {
    font-size: 20px;
    margin: 0;
    color: #054a71;
  }
  #diseño-logos {
    all: unset;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 330px;
  }
  .vocacionLogo {
    width: 210px;
    height: auto;
    position: absolute;
    left: 5.81%;
    top: 12.67%;
  }
  .crayolaAvatar {
    width: 100px;
    height: auto;
    position: absolute;
    left: 72.14%;
    top: 0.33%;
    transform: rotate(8deg);
  }
  .uagroLogo {
    width: 100px;
    height: auto;
    display: unset;
    position: absolute;
    left: 51.12%;
    top: 37%;
    transform: rotate(-4deg) scale(0.9);
  }
  .aguilaLogo {
    width: 100px;
    height: auto;
    position: absolute;
    left: 45.14%;
    top: 0%;
    transform: rotate(13deg);
  }

  .contenedor-articulos {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #d9eef4;
    padding: 50px 110px;
  }
  .uagroLetras {
    width: 290px;
    height: auto;
  }
  h2 {
    font-size: 28px;
  }
  #text-uagro {
    font-size: 18px;
    padding: 15px 40px 0 0;
  }

  .vocacion-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 110px;
  }
  #info-vocacion {
    text-align: center;
  }
  #vocacion-text {
    font-size: 18px;
    padding: 15px 100px 0;
  }
  #cont-card {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 40px;
  }

  .prueba {
    width: 295px;
    height: auto;
    border-radius: 15px;
  }
  #informacion-prueba {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
  }
  #text-prueba {
    font-size: 18px;
    padding: 15px 0 0 40px;
  }

  .areas-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
  }
  #areas-info {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .imgAreas {
    width: 350px;
    height: auto;
    border-radius: 15px;
  }
  #text-area {
    font-size: 18px;
    padding: 15px 0 0 0;
  }
  #cont-cardArea {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 40px;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
  }
</style>
